<div class="article-metadata">
    <div>
        <a class="btn btn-primary" href="{{ url_for('companies.update_contact', contact_id=contact.id) }}">Update</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" id="deleteConfirm"
                onclick="deleteConfirmPost()">Delete
        </button>

        <!-- Modal -->
        <script>
            function deleteConfirmPost() {
                const form = document.createElement('form');
                form.method = "post";
                form.action = "{{ url_for('companies.delete_contact', contact_id=contact.id) }}";

                if (confirm("Delete Contact?") === true) {
                    document.body.appendChild(form);
                    form.submit();
                }
            }
        </script>
    </div>
</div>
