<article class="media content-section">
    <div class="media-body">
        <h2><a class="article-title" href="{{ url_for('invoices.invoice', invoice_id=invoice.id) }}">{{ invoice.serial_number }}</a></h2>
        <div class="group">
            <span class="info">Date Created: {{ invoice.date_created }}</span>
            <span class="info">Issue Date: {{ invoice.issue_date }}</span>
            <span class="info last">Due Date: {{ invoice.due_date }}</span>
        </div>
    </div>
</article>
