<header class="site-header">
    <nav class="navbar bg-steel fixed-top">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('main.home') }}">Home</a>
                </li>


                {% if current_user.is_authenticated %}
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('invoices.list_invoices') }}">Invoices</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.list_users') }}">Users</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('companies.list_contacts') }}">Contacts</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('companies.company') }}">Company</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.account') }}">Account</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

</header>
