<header class="site-header">
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('main.home') }}">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('companies.company') }}">Company</a>
                </li>

                {% if current_user.is_authenticated %}

                    {% if current_user.is_admin() %}
                        <li class="navbar-item">
                            <a class="navbar-link" href="{{ url_for('users.list_users') }}">Users</a>
                        </li>
                    {% elif not current_user.is_admin() %}
                        <li class="navbar-item">
                            <a class="navbar-link" href="{{ url_for('invoices.search_invoices') }}">Invoices</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="{{ url_for('companies.list_contacts') }}">Contacts</a>
                        </li>
                    {% endif %}

                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.account') }}">Account</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

</header>
