{% extends 'blocks/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">

            <h2 class="article-title">Company Credentials</h2>

            <div class="group">
                <span class="info">
                    <b>Name:</b> {{ company.name }}
                </span>
                <span class="info">
                    <b>DIČ:</b> {{ company.dic }}
                </span>
                <span class="info last">
                    <b>Residence:</b> {{ company.residence }}
                </span>
            </div>
        </div>
    </article>
{% endblock content %}
