{% extends 'blocks/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">

            {% include 'partials/contact_ud_view.html' %}

            <h2 class="article-title">{{ contact.name }}</h2>
            <p class="article-content">{{ contact.residence }}</p>
            <p class="article-content">{{ contact.ic }}</p>
            <p class="article-content">{{ contact.dic }}</p>
            <p class="article-content">{{ contact.phone }}</p>
            <p class="article-content">{{ contact.email }}</p>
        </div>
    </article>
{% endblock content %}
