{% extends 'blocks/base.html' %}

{% from "macros/macros.html" import render_field %}

{% block content %}
    <div class="content-section">
        <form id="invoice-form" method="post" action="" role="form">
            <!-- csrf token -->
            {{ form.hidden_tag() }}

            <h2>Create New Invoice</h2>

            <fieldset class="form-group">
                <!-- Date Created -->
                {{ render_field(form.issue_date) }}

                <!-- Due Date -->
                {{ render_field(form.due_date) }}

                <!-- Payment -->
                {{ render_field(form.payment_form) }}

                <!-- Add Item Button -->
                <a id="add" href="#" class="btn btn-primary" role="button">Add Item</a>

                <!-- Items -->
                <div id="subforms-container">

                    {% for subform in form.items %}
                        <div id="item-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">

                            <!-- Count -->
                            {{ render_field(subform.count) }}

                            <!-- Unit -->
                            {{ render_field(subform.unit) }}

                            <!-- Description -->
                            {{ render_field(subform.desc) }}

                            <!-- VAT Rate -->
                            {{ render_field(subform.vat) }}

                            <!-- Price -->
                            {{ render_field(subform.price) }}

                            <!-- Remove Item Button -->
                            <a class="remove btn btn-danger" href="#" role="button">Remove</a>

                        </div>
                    {% endfor %}

                    {# Form Template #}
                    <div id="item-_-form" class="subform hidden" data-index="0">
                        <!-- Count -->
                        <div class="form-group">
                            <label class="form-control-label" for="items-_-count">Count</label>
                            <input class="form-control form-control-lg" id="items-_-count" name="items-_-count"
                                   required="" type="text" value="">
                        </div>

                        <!-- Unit -->
                        <div class="form-group">
                            <label class="form-control-label" for="items-_-unit">Unit</label>
                            <input class="form-control form-control-lg" id="items-_-unit" name="items-_-unit"
                                   required="" type="text" value="">
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label class="form-control-label" for="items-_-desc">Description</label>
                            <input class="form-control form-control-lg" id="items-_-desc" name="items-_-desc"
                                   required="" type="text" value="">
                        </div>

                        <!-- VAT Rate -->
                        <div class="form-group">
                            <label class="form-control-label" for="items-_-vat">VAT</label>
                            <input class="form-control form-control-lg" id="items-_-vat" name="items-_-vat" required=""
                                   type="text" value="">
                        </div>

                        <!-- Price -->
                        <div class="form-group">
                            <label class="form-control-label" for="items-_-price">Price</label>
                            <input class="form-control form-control-lg" id="items-_-price" name="items-_-price"
                                   required="" type="text" value="">
                        </div>

                        <!-- Remove Item Button -->
                        <a class="remove btn btn-danger" href="#" role="button">Remove</a>
                    </div>

                </div>

            </fieldset>

            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/invoice.js') }}"></script>

{% endblock %}
