{% extends 'blocks/base.html' %}

{% from "macros/macros.html" import render_field %}

{% block content %}
    <div class="content-section">
        <form id="invoice-form" method="post" action="" role="form">
            <!-- csrf token -->
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                <!-- Date Created -->
                {{ render_field(form.date_created) }}

                <!-- Due Date -->
                {{ render_field(form.due_date) }}

                <!-- Payment -->
                {{ render_field(form.payment_form) }}

                <!-- Add Item Button -->
                <a id="add" href="#">Add Item</a>

                <!-- Items -->
                <div id="subforms-container">
                    {% for subform in form.items %}
                        <div id="item-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">

                            <!-- Count -->
                            {{ render_field(subform.count) }}

                            <!-- Unit -->
                            {{ render_field(subform.unit) }}

                            <!-- Description -->
                            {{ render_field(subform.desc) }}

                            <!-- VAT Rate -->
                            {{ render_field(subform.vat) }}

                            <!-- Remove Item Button -->
                            <a class="remove" href="#">Remove</a>

                        </div>
                    {% endfor %}
                </div>

            </fieldset>

            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>

    <script type="text/javascript">

        /**
         * Adjust the indices of form fields when removing items.
         */
        function adjustIndices(removedIndex) {
            var $forms = $('.subform');

            $forms.each(function (i) {
                var $form = $(this);
                var index = parseInt($form.data('index'));
                var newIndex = index - 1;

                if (index < removedIndex) {
                    // Skip
                    return true;
                }

                // Change ID in form itself
                $form.attr('id', $form.attr('id').replace(index, newIndex));
                $form.data('index', newIndex);

                // Change IDs in form inputs
                $form.find('input').each(function (j) {
                    var $item = $(this);
                    $item.attr('id', $item.attr('id').replace(index, newIndex));
                    $item.attr('name', $item.attr('name').replace(index, newIndex));
                });
            });
        }

        /**
         * Remove a subform.
         */
        function removeForm() {
            var $removedForm = $(this).closest('.subform');
            var removedIndex = parseInt($removedForm.data('index'));

            $removedForm.remove();

            // Update indices
            adjustIndices(removedIndex);
        }

        /**
         * Add a new subform.
         */
        function addForm() {
            var $templateForm = $('#item-_-form');

            if (!$templateForm) {
                console.log('[ERROR] Cannot find template');
                return;
            }

            // Get Last index
            var $lastForm = $('.subform').last();

            var oldIndex = parseInt($lastForm.data('index'));
            var newIndex = 0;

            if ($lastForm.length > 0) {
                newIndex = oldIndex + 1;
            }

            // Add elements
            var $newForm = $lastForm.clone();

            $newForm.attr('id', $newForm.attr('id').replace(oldIndex, newIndex));
            $newForm.data('index', newIndex);

            $newForm.find('input').each(function (idx) {
                var $item = $(this);

                $item.attr('id', $item.attr('id').replace(oldIndex, newIndex));
                $item.attr('name', $item.attr('name').replace(oldIndex, newIndex));
            });

            // Append
            $('#subforms-container').append($newForm);
            $newForm.addClass('subform');
            $newForm.removeClass('is-hidden');

            $newForm.find('.remove').click(removeForm);
        }

        $(document).ready(function () {
            $('#add').click(addForm);
            $('.remove').click(removeForm);
        });

    </script>

{% endblock %}


