{% extends 'blocks/base.html' %}

{% from "macros/macros.html" import render_pagination %}

{% block content %}

    {% if current_user.is_authenticated %}
        {% if current_user.is_admin() %}
            <div class="last">
                <a class="btn btn-primary" href="{{ url_for('posts.create_post') }}">New Post</a>
            </div>
        {% endif %}
    {% endif %}

    {% for post in posts.items %}
        {% include 'partials/post_overview.html' %}
    {% endfor %}

    {{ render_pagination(posts, 'main.home') }}

{% endblock content %}
