{% extends 'blocks/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">

            {% include 'partials/invoice_ud_view.html' %}

            <h2 class="article-title">{{ invoice.serial_number }}</h2>

            <div class="group">
                <span class="info">
                    <b>Created:</b> {{ invoice.date_created }}
                </span>
                <span class="info">
                    <b>Issue Date:</b> {{ invoice.issue_date }}
                </span>
                <span class="info">
                    <b>Due Date:</b> {{ invoice.due_date }}
                </span>
                <span class="info">
                    <b>Payment:</b> {{ invoice.payment_form | payment_converter }}
                </span>
                <span class="info">
                    <b>Type:</b> {{ invoice.type | type_converter }}
                </span>
                <span class="info last">
                    <b>Created by:</b> {{ invoice.invoice_author.name }}
                </span>
            </div>

            <h3>Seller</h3>

            <div class="group">
                <span class="info">
                    <b>Name:</b> {{ invoice.invoice_company.name }}
                </span>
                <span class="info">
                    <b>DIČ:</b> {{ invoice.invoice_company.dic }}
                </span>
                <span class="info last">
                    <b>Residence:</b> {{ invoice.invoice_company.residence }}
                </span>
            </div>

            <h3>Buyer</h3>

            <div class="group">
                <span class="info">
                    <b>Name:</b> {{ invoice.invoice_buyer.name }}
                </span>
                <span class="info">
                    <b>Residence:</b> {{ invoice.invoice_buyer.residence }}
                </span>
                <span class="info">
                    <b>IČ:</b> {{ invoice.invoice_buyer.ic }}
                </span>
                <span class="info">
                    <b>DIČ:</b> {{ invoice.invoice_buyer.dic }}
                </span>
                <span class="info">
                    <b>Phone:</b> {{ invoice.invoice_buyer.phone }}
                </span>
                <span class="info last">
                    <b>E-mail:</b> {{ invoice.invoice_buyer.email }}
                </span>
            </div>

            <h3>Invoice Items</h3>

            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Count</th>
                    <th>Unit</th>
                    <th>Description</th>
                    <th>VAT %</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>

                {% for item in invoice.items %}
                    <tr>
                        <td>{{ "{0:0,.1f}".format(item.count) }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.desc }}</td>
                        <td>{{ item.vat }}</td>
                        <td>{{ "{0:0,.1f}".format(item.price) }}</td>
                        <td>{{ "{0:0,.1f}".format(item.total_price) }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="group">
                <span class="pull-right last">
                    <b>Total Price with VAT: {{ "{0:0,.2f}".format(invoice.total_sum) }} $</b>
                </span>
            </div>

        </div>
    </article>
{% endblock content %}
