{% extends 'blocks/base.html' %}

{% from "macros/macros.html" import render_field %}

{% block content %}

    <h1>Invoices</h1>

    <div class="last">
        <a class="btn btn-primary" href="{{ url_for('invoices.create_invoice') }}">New Invoice</a>
    </div>

    <form method="post" action="{{ url_for('invoices.list_invoices') }}" enctype="multipart/form-data">
        <!-- csrf token -->
        {{ filter.hidden_tag() }}

        <fieldset class="form-group">
            <!-- Date From -->
            {{ render_field(filter.date_from) }}

            <!-- Date Till -->
            {{ render_field(filter.date_till) }}

            <!-- Invoice Type -->
            {{ render_field(filter.invoice_type) }}
        </fieldset>

        <!-- Submit Button -->
        <div class="form-group">
            {{ filter.submit(class="btn btn-info") }}
        </div>
    </form>

{% endblock content %}
