{% extends 'blocks/base.html' %}

{% from "macros/macros.html" import render_field %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}" alt="Profile picture">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <form method="post" action="" enctype="multipart/form-data">
            <!-- csrf token -->
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>

                <!-- Username -->
                {{ render_field(form.username) }}

                <!-- Email -->
                {{ render_field(form.email) }}

                <!-- Picture -->
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

            </fieldset>

            <!-- Submit Button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
            </div>

            {% if user != current_user %}
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger m-1" id="deleteConfirm"
                            onclick="deleteConfirmUser()">Delete
                    </button>

                    <!-- Modal -->
                    <script>
                        function deleteConfirmUser() {
                            const form = document.createElement('form');
                            form.method = "post";
                            form.action = "{{ url_for('users.delete_user', user_id=user.id) }}";

                            if (confirm("Delete User?") === true) {
                                document.body.appendChild(form);
                                form.submit();
                            }
                        }
                    </script>
                </div>
            {% endif %}
        </form>

    </div>
{% endblock content %}
